<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="javascripts/controllers.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Sinatra-angular by scottymoon</title>
  </head>

  <body ng-controller='ThingController'>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Sinatra-angular</h1>
          <h2>Sinatra API with Angular UI</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/scottymoon/sinatra-angular/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/scottymoon/sinatra-angular/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/scottymoon/sinatra-angular" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          <h1>Sinatra JSON API Example</h1>

          <p>This is a very small example app showing how to accept and return JSON as an
          API. An app like this could serve as a back end for a mobile app or a
          <a href="http://backbonejs.org">Backbone</a> app, or any other web interface that relies
          on AJAX requests to view and change data.</p>

          <p>If you're new to Sinatra I'd recommend starting with my <a href="https://github.com/stevenklise/Sinatra-Heroku-Template">Sinatra Heroku
          Template</a> repository.</p>

          <h2>New Thing</h2>

          <form id="new-thing">
            <p><strong>Title:</strong></p>
            <input ng-model="thing.title" type="text">

            <p><strong>Description:</strong></p>
            <textarea ng-model="thing.description"></textarea>

            <p><input ng-click="create(thing)" type="submit"></p>
          </form>

          <h2>All The Things!</h2>

          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='thing in things'>
                <td>{{thing.title}}</td>
                <td>{{thing.description}}</td>
                <td><a href="#" onclick="return false;" ng-click="delete($index)">delete</a></td>
              </tr>
            </tbody>
          </table>

        </section>

        <footer>
          Sinatra-angular is maintained by <a href="https://github.com/scottymoon">scottymoon</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
  </body>
</html>